@use "../variables";

.home-row {
  display: flex;
  margin: 2rem auto;
  justify-content: center;
  background-color: variables.$secondary;
  width: 60vw;
  border-radius: 8px;

  section {
    padding: 2rem 3rem;
    text-align: justify;
    font-size: 1.2rem;

    li {
      list-style: disc;
      margin: 0.25rem 0;
    }
  }
}

.home-image{
  padding: 2rem;
  img {
    width: 25vw;
  }
}