@use "../variables";

.home-row {
  display: flex;
  margin: 2rem auto;
  justify-content: center;
  background-color: variables.$secondary;
  width: 60vw;
  border-radius: 8px;

  section {
    padding: 2rem 3rem;
    text-align: justify;
    font-size: 1.2rem;

    li {
      list-style: disc inside;
      margin: 0.25rem 0;
    }
  }
}

.tech-stack {
  display: flex;
  justify-content: space-between;
}

.tech-stack-list {
  ul {

  }
}

.home-image{
  padding: 2rem;
  img {
    width: 25vw;
  }
}