@use "../variables";

.jobs-page-body {
  max-width: 60vw;
  margin:  0 auto 3rem auto;
}

.job-column-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  border-radius: 8px;
  background-color: variables.$tertiary;
  padding: 1rem;
  min-height: 10vh;
}

.job-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 8px;
  background-color: variables.$tertiary;
  padding: 0.25rem;
  margin: 1rem 0;

  .options-container {
    width: fit-content;
    margin: 0;
    left: 0;

    .options-checkboxes {
      top: 0;
      left: 45px;
    }
  }
}

.job-search-input {
  width: 50%;
}