@use "variables";

body {
  font-family: variables.$font;
  color: variables.$fontColour;
  background-color: variables.$primary;
  padding: 0;
  margin: 0;
}

main {
  position: relative;
}

h1 {
  text-align: center;
  padding: 3rem;
  font-size: 3rem;
  margin: 0;
}

h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0.25rem 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.button {
  background-color: variables.$buttonAlt;
  border-radius: 12px;
  border: solid 2px transparent;
  color: variables.$fontColour;
  cursor: pointer;
  font-family: variables.$font;
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;

  &:not(:disabled):hover {
    box-shadow:
      rgba(60, 64, 67, 0.3) 0 2px 3px 0,
      rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
  }

  &:not(:disabled):active {
    box-shadow:
      rgba(60, 64, 67, 0.3) 0 4px 4px 0,
      rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
    outline: none;
  }

  &:not(:disabled):focus {
    outline: none;
  }

  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }

  &.neutral {
    &:not(:disabled):hover {
      background: #f6f9fe;
      color: #174ea6;
    }

    &:not(:disabled):focus {
      border-color: #4285f4;
    }
  }

  &.success {
    &:not(:disabled):hover {
      background: #28a745;
      color: variables.$primary;
    }

    &:not(:disabled):active {
      background: #1e7e34;
    }

    &:not(:disabled):focus {
      border-color: rgba(40, 167, 69, 0.5);
    }
  }

  &.danger {
    &:not(:disabled):hover {
      background: #dc3545;
      color: variables.$primary;
    }

    &:not(:disabled):active {
      background: #bd2130;
    }

    &:not(:disabled):focus {
      border-color: rgba(220, 53, 69, 0.5);
    }
  }

  &.sidebarBtn {
    margin: 1rem;
    position: fixed;
    z-index: 10;
    font-size: 2rem;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }
}

.icon-button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  appearance: none;
  outline: none;

  &.remove {
    font-size: 1.875rem;
    color: #e7000b;

    &:hover {
      color: #9f0712;
    }
  }

  &.delete {
    font-size: 1.3rem;
    color: #dc3545;

    &:hover {
      color: #bd2130;
    }
  }

  &.edit {
    font-size: 1.3rem;
    color: #0004e7;

    &:hover {
      color: #0a0b6c;
    }
  }
}
