@use "../variables";

.job-column {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 1rem;

  h2 {
    text-align: center;
    text-transform: capitalize;
  }
}

.job-colum-dropzone {
  height: 100%;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  border: solid 1px transparent;

  &.dragover {
    border: solid 1px black;
    background-color: rgba(black, 0.05);
  }
}

.job-column-list-item {
  border: solid 1px black;
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding: 1rem;
  border-radius: 4px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li {
      padding: 0.25rem;
      border-radius: 4px;
      background-color: variables.$buttons;
      width: fit-content;
      text-wrap: nowrap;
    }
  }

  .job-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    span {
      color: rgba(black, 0.5);
      margin: 0.25rem 0;
    }
  }

  .functional-buttons {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
  }

  .job-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &.unassigned {
    background-color: rgba(orange, 0.25);
  }
  &.assigned {
    background-color: rgba(yellow, 0.1);
  }
  &.started {
    background-color: rgba(blue, 0.1);
  }
  &.complete {
    background-color: rgba(green, 0.1);
  }
  &.blocked {
    background-color: rgba(red, 0.1);
  }
}

.placeholder-message {
  padding: 0.5rem 1rem;
  opacity: 0.5;
  text-align: center;
  font-size: 0.9rem;
}
