.output-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

table {
  border-collapse: collapse;
  margin: 2rem;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: right;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

