@use "../variables";

$primary: #0077ff;
$dark: #000;

.dynamic-list {

  .input-tracker {
    min-height: 1.5rem;
    font-size: 1.2rem;
    overflow-wrap: anywhere;
    padding: 0.5rem;
  }

  .list-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    overflow-wrap: anywhere;
  }
}
