@use "../variables";

.job-list {
  text-wrap: wrap;
}

.job-list-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.job {
  border: solid 1px black;
  padding: 0 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  background-color: variables.$secondary;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  }

  ul {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

    li {
      padding: 0.25rem;
      border-radius: 4px;
      background-color: variables.$buttons;
    }
  }
}

.status-container {
  margin: 1rem 0;
  display: flex;
}

.status {
  background-color: variables.$buttonAlt;
  padding: 0.25rem 0.5rem;
  margin-right: 1rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.status-ball {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.25rem;

  &.unassigned {
    background: orange;
  }

  &.assigned {
    background: yellow;
  }

  &.started {
    background: blue;
  }

  &.complete {
    background: green;
  }

  &.blocked {
    background: red;
  }
}
