@use "../../variables";

.job-form-container {
  .form-header {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
  }

  .form-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 0.5rem 0;
  }

  input[type="text"], select, textarea {
    width: 100%;
    box-sizing:  border-box;
    appearance: none;
    border: solid 1px;
    background: white;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    margin: 0.25rem 0;
    font-family: variables.$font;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    label {
      font-size: 1.1rem;
    }

    option {
      text-transform: capitalize;
    }

    p {
      padding: 0;
      margin: 0;
    }
  }

  .dropdown-check-list {
    display: inline-block;
    width: 100%;
    margin: 0.25rem 0;

    .anchor {
      position: relative;
      cursor: pointer;
      display: flex;
      border: 1px solid black;
      appearance: none;
      font-size: 1rem;
      padding: 0.25rem 0.5rem;
      border-radius: 6px;
      background-color: white;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      text-wrap: auto;
      flex-wrap: wrap;
      color: rgba(black, 0.5);
      gap: 0.25rem;
    }

    .checkbox-popup {
      position: absolute;
      border: 1px solid black;
      padding: 0.5rem;
      background-color: white;
      z-index: 10;

      li {
        padding: 0.25rem;
        margin: 0.25rem 0;
      }

      label {
        font-size: 1rem;
        text-transform: capitalize;
      }

      input[type="checkbox"] {
        appearance: auto;
        margin-right: 0.5rem;
        height: 15px;
        width: 15px;
      }
    }
  }
}

.required-bot {
  padding: 0.1rem 0.25rem;
  border-radius: 4px;
  background-color: lightgray;
  font-size: 0.85rem;
  color: black;

  span {
    padding: 0.25rem;

    &:hover {
      color: grey;
    }
  }
}